.menu-offer {
    margin-bottom: 100px;
}

.offer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.offer-heading {
    width: 800px;
    font-size: 60px;
    color: var(--text-dark-color);
    line-height: 125%;
    align-self: center;
    text-align: center;
    margin-bottom: 40px;
}

.offer-heading span {
    color: var(--text-accent-color);
    font-style: italic;
}

.choice-tabs {
    width: 361px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.choice-tab {
    height: 46px;
}

.coffee:hover {
    content: url('../../../assets/icons/tab-item-coffee-hover.svg');
}
.coffee.active {
    content: url('../../../assets/icons/tab-item-coffee-hover.svg');
}

.tea:hover {
    content: url('../../../assets/icons/tab-item-tea-hover.svg');
}

.tea.active {
    content: url('../../../assets/icons/tab-item-tea-hover.svg');
}

.dessert:hover {
    content: url('../../../assets/icons/tab-item-dessert-hover.svg');
}

.dessert.active {
    content: url('../../../assets/icons/tab-item-dessert-hover.svg');
}

.coffee-content-wrapper.none,
.tea-content-wrapper.none,
.dessert-content-wrapper.none {
    display: none;
}

.coffee-content-wrapper,
.tea-content-wrapper,
.dessert-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-evenly;
}

.card {
    display: flex;
    height: 506px;
    max-width: 310px;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 40px;
    border: 1px solid var(--border-light-color);
}

.img-wrapper {
    width: 310px;
    height: 310px;
    flex-shrink: 0;

    border-radius: 40px;
    position: relative;
    overflow: hidden;
    background-size: 100%;
    transition: background-size 0.9s ease;
}

/* COFFEE */
.card .coffee-box-1:hover,
.card .coffee-box-2:hover,
.card .coffee-box-3:hover,
.card .coffee-box-4:hover,
.card .coffee-box-5:hover,
.card .coffee-box-6:hover,
.card .coffee-box-7:hover,
.card .coffee-box-8:hover {
    background-size: 110%;
}
/* COFFEE */

/* TEA */
.card .tea-box-1:hover,
.card .tea-box-2:hover,
.card .tea-box-3:hover,
.card .tea-box-4:hover {
    background-size: 110%;
}
/* /TEA */

/* DESSERT */
.card .dessert-box-1:hover,
.card .dessert-box-2:hover,
.card .dessert-box-3:hover,
.card .dessert-box-4:hover,
.card .dessert-box-5:hover,
.card .dessert-box-6:hover,
.card .dessert-box-7:hover,
.card .dessert-box-8:hover {
    background-size: 110%;
}
/* /DESSERT */

.card-content {
    height: 196px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
    /* margin-bottom: 12px; */
    height: 30px;
}

.card-description {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    /* margin-bottom: 12px; */
    height: 72px;
}

.card-price {
    margin: 0;
    font-size: 24px;
    line-height: 125%;
}

/* Media query for screens between 768px and 1439px (tablets) */
@media screen and (max-width: 1439px) and (min-width: 768px) {
    .offer-heading {
        max-width: 688px;
        font-size: 60px;
        color: var(--text-dark-color);
        line-height: 125%;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }
}

/* Media query for screens between 380px and 767px (smaller tablets and large mobiles) */
@media screen and (max-width: 767px) and (min-width: 380px) {
    .offer-heading {
        max-width: 348px;
        font-size: 2rem;
        color: var(--text-dark-color);
        line-height: 125%;
        align-self: center;
        text-align: center;
        margin-bottom: 40px;
    }

    .choice-tabs {
        width: 345px;
    }
}

/* Media query for screens below 380px (small mobiles) */
@media screen and (max-width: 379px) {
    .offer-heading{
        max-width: 280px;
        font-size: 1.5rem;
    }

    body {
        zoom: 0.5;
        font-size: 0.5rem;
    }
}