.about {
    height: 82.8125rem; /* Equivalent to 1325px */
    margin-bottom: 6.25rem; /* Equivalent to 100px */
}

.about-description {
    font-size: 3.75rem; /* Equivalent to 60px */
    line-height: 125%;
    color: var(--text-dark-color);
    margin-bottom: 2.5rem; /* Equivalent to 40px */
}

.about-description span {
    font-style: italic;
    color: var(--text-accent-color);
}

.image-gallery {
    display: flex;
    max-width: 1360px;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-1 {
    width: 660px;
    height: 590px;
    /* flex-shrink: 0; */
    background: url(../../../assets/images/about-1.svg)
        var(--border-light-color) 50% / cover no-repeat;
}

.box-2 {
    width: 660px;
    height: 430px;
    /* flex-shrink: 0; */
    background: url(../../../assets/images/about-2.svg)
        var(--border-light-color) 50% / cover no-repeat;
}

.box-3 {
    width: 660px;
    height: 430px;
    /* flex-shrink: 0; */
    background: url(../../../assets/images/about-3.svg)
        var(--border-light-color) 50% / cover no-repeat;
}

.box-4 {
    display: flex;
    width: 660px;
    height: 590px;
    /* flex-shrink: 0; */
    background: url(../../../assets/images/about-4.svg)
        var(--border-light-color) 50% / cover no-repeat;
}

.about .box-1,
.about .box-2,
.about .box-3,
.about .box-4 {
    border-radius: 20px;
    /* position: relative;
    overflow: hidden; */
    background-size: 100%;
    transition: background-size 0.9s ease;
    background-size: cover;
}

.about .box-1:hover,
.about .box-2:hover,
.about .box-3:hover,
.about .box-4:hover {
    background-size: 110%;
    background-size: cover;
}

/* Media query for screens between 768px and 1439px (tablets) */
@media screen and (max-width: 1439px) and (min-width: 768px) {
    .about {
        height: auto;
    }

    .image-gallery {
        display: flex;
        flex-direction: column;
        max-width: 1360px;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    .column-1 .box-2,
    .column-2 .box-3 {
        display: none;
    }

    .column-1 .box-1,
    .column-2 .box-4 {
        width: 688px;
        height: 590px;
    }
}

/* Media query for screens between 380px and 767px (smaller tablets and large mobiles) */
@media screen and (max-width: 767px) and (min-width: 380px) {
    .about {
        height: auto;
    }

    .about-description {
        font-size: 2rem;
        line-height: 1.25;
    }

    .image-gallery {
        display: flex;
        flex-direction: column;
        max-width: 1360px;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    .column-1 .box-2,
    .column-2 .box-3 {
        display: none;
    }

    .column-1 .box-1,
    .column-2 .box-4 {
        width: 348px;
        height: 590px;
    }
}

/* Media query for screens below 380px (small mobiles) */
@media screen and (max-width: 379px) {
}
