section.enjoy-block {
    height: 40.25rem; /* Equivalent to 644px */
}

.enjoy-block-content {
    display: flex;
    flex-direction: column;
    padding: 6.25rem 45.625rem 6.25rem 6.25rem; /* Equivalent to 100px 730px 100px 100px */
    border-radius: 2.5rem; /* Equivalent to 40px */

    background-image: url('../../../assets/images/img-enjoy-block.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.enjoy-block-heading {
    font-size: 4.5rem; /* Equivalent to 60px */
    line-height: 105%;
    margin-bottom: 2.5rem; /* Equivalent to 40px */
}

.enjoy-heading-part1 {
    color: var(--text-accent-color);
    font-style: italic;
}

.enjoy-heading-part2 {
    color: var(--text-light-color);
}

.enjoy-block-content p {
    font-weight: 400;
    margin: 0;
    margin-bottom: 2.5rem; /* Equivalent to 40px */
    color: var(--text-light-color);
}
